{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="page">
        <form action="submit" method="POST" class="formLogin">
            {% csrf_token %}
            <h1>Login</h1>
            <p>Digite os seus dados de acesso no campo abaixo.</p>
            <label >Usuario:</label>
            <input type="usuario" name="username" placeholder="Digite seu usuario" autofocus="true" />
            <label >Password:</label>
            <input type="password" name="password" placeholder="Digite sua senha" />
            <input type="submit" name="button" value="Acessar" class="btn" />
            <p>
                Ainda não tem conta?
                <a href="#">Cadastre-se</a>
            </p>
        </form>
    </div>
    {% for message in messages %}
    <div align="center">
        <strong>Erro! </strong>{{message}}
    </div>
    {% endfor %}
</body>
</html>